<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencias Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="top">
  <ion-card>
    <ion-card-header>
      <ion-avatar class="img-center">
        <img src="/assets/icon/person-circle-outline.svg" alt="">
      </ion-avatar>
      <ion-card-title class="center">Bienvenido</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-row class="top">
    <ion-col size="">
      <ion-router-link href="https://ionicframework.com/docs/api/router-link">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Registrar mi asistencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-router-link>
    </ion-col>
    <ion-col size="">
      <ion-router-link href="https://experienciavivo.duoc.cl/alumnos/asistencias">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Mis asistencias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-router-link>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="">
      <ion-router-link href="https://experienciavivo.duoc.cl/alumnos/horarios">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Mis horarios</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-router-link>
    </ion-col>
    <ion-col >
      <ion-router-link href="https://campusvirtual.duoc.cl">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Mis cursos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-router-link>
    </ion-col>
  </ion-row>
</div>

</ion-content>
